p, h1, h2, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    height: 75px;
    background-color: slategray;
    display: inline-flex;
}

header h1 {
    font-size: 35px;
    background: turquoise;
    color: slategray;
    text-align: left;
    height: auto;
    margin-top: 20px;
    flex: 4 1 300px;
    display: inline-flex;
}

header a {
    flex: 1 3 20px;
    font-size: 20px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    text-decoration: solid;
    margin: 35px 5px 5px 0px;
    color: turquoise;
}

section h1 {
    font-size: 50px;
    flex: 1 1 300px;
    text-align: right;
    margin-right: 20px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subHeader {
    height: 125px;
    background-image: url(../images/planks.png);
}

.subHeader h2 {
    font-size: 25px;
    width: 200px;
    background-color: turquoise;
    color: slategray;
    position: relative;
    margin-right: 25px;
    margin-top: 75px;
    text-align: justify;
    float: right;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.contentArea {
    display: inline-flex;
}

.divider {
    border-left: 6px solid green;
    height: 100%;
    margin-left: -3px;
}

#cards {
    display: flex;
}

#aboutMe {
    height: 200px;
}

#aboutMe p {
    margin: 0px 45px;
    text-align: center;
}




@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}
                      
@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
}